.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.diceBox {
  display: flex;
}

button {
  padding: 15px;
  border-radius: 10px;
  background-color: yellow;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  font-size: large;
  font-weight: bold;
}

body {
  background-color: #d61355;
}

h1 {
  margin: 20px;
  font-family: "Lobster", cursive;
  text-shadow: 3px 0 #232931;
  font-size: 4rem;
  color: #fce22a;
}

h3 {
  margin: 20px;
  font-family: "Lobster", cursive;
  text-shadow: 3px 0 #232931;
  font-size: 2rem;
  color: #fce22a;
}

p {
  font-size: 1.5rem;
  color: #fce22a;
  font-family: "Indie Flower", cursive;
}

img {
  width: 50%; 
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}